<html>
<body>
<h3>Hi ${emailTemplateBean.firstName}, welcome to the Auction!</h3>

<div>
  Your New Password is ${emailTemplateBean.password} for userName ${emailTemplateBean.userName}. 
</div>
You can login to the auction site now. Please click on this link:<br/>
<a href="http://${applicationname}/login.jsp">Auction URL</a>
<h3>Regards, Auction Team.</h3>
</body>

</html>